@media (max-width: 425px) {
  #profile {
    min-width: 200px;
    max-width: 300px;
  }
}
.header {
  text-align: center;
}
.nav-ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#profile {
  order: 2;
}

#skills,
#education {
  background-color: cadetblue;
  color: white;
  margin-right: 20px;
}

#skills {
  order: 1;
}
#education {
  order: 3;
}

#certificates {
  order: 6;
}
#work-experience {
  order: 5;
}
#projects {
  order: 4;
}

#profile,
#certificates,
#work-experience,
#projects {
  text-align: center;
  margin: 0 auto;
}
