* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  background-color: #538392;
}
@media (max-width: 425px) {
  #profile {
    min-width: 200px;
    max-width: 300px;
  }

  .header {
    text-align: center;
  }
  .nav-ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #6295a2;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  #profile {
    order: 2;
  }

  #skills,
  #education,
  #certificates {
    background-color: #b3e2a7;
    color: white;
    margin-right: 20px;
  }

  #skills {
    order: 1;
  }
  #education {
    order: 3;
  }

  #certificates {
    order: 5;
  }
  #work-experience {
    order: 6;
  }
  #projects {
    order: 4;
  }

  #profile,
  #work-experience,
  #projects {
    text-align: center;
    margin: 0 auto;
    background-color: #80b9ad;
  }
  footer {
    text-align: center;
  }
}
